[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
pandas = "*"
wheel = "*"

[dev-packages]
black = {extras = ["jupyter"], version = "*"}
isort = "*"
nbstripout = "*"

[requires]
python_version = "3.8"
